*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;

}
.container{
    background-color: #fff;
    width: 95%;
    margin: 0 auto;
    min-height: 80vh;
    border-radius: 10px;
}
.searchBar{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.searchField{
    font-size: 1.2rem;
    margin-right: .5rem;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 0 .5rem;
}
.searchField::placeholder{
    text-align: center;
    color: #fff;
}
.searchBtn{
    padding: .5rem;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.resultsContainer{
    width: 95%;
    margin: 0 auto;
}
.card{
    padding: 2rem;
    background-color: #fff;
    
}
table{
    width: 100%;
}
thead td{
    padding: .5rem;
    border-bottom: 1px solid rgb(46, 46, 43);
}
